<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Outcome!</title>
    <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  </head>



    <body id="outcome">

    <table id="result_box">
      <tr>
        <th>
          <div id="result_box">
            <p id="result"><%= @round_winner %> wins this round!</p><br>
            <a id="continue" href="/play">Continue...</a>
          </div>
        </th>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          <div id="player_1_throw">
            <img id="throwscore" src="images/left/<%= @player_1_weapon %>.png" id="player_1_weapon"><br>
            <%= @player_1_name %> throws <%= @player_1_weapon %>!
          </div>
        </th>
        <th>
          <div id="player_2_throw">
            <img id="throwscore" src="images/right/<%= @player_2_weapon %>.png" id="player_2_weapon"><br>
            <%= @player_2_name %> throws <%= @player_2_weapon %>!
          </div>
        </th>
      </tr>
    </table>

  </body>
</html>
